# Bibliotecas JAR
*.jar
/lib/
/libs/
/dependencies/

# Arquivos de IDE
*.iml
*.ipr
*.iws
.idea/

# Compilados
*.class
*.log

# Sistema
.DS_Store
Thumbs.db

# Configurações do sistema
*.orig
*.bak
*.swp
*~